{% extends 'base.html' %}

{% load static %}

{% block title %}Product Details{% endblock %}

{% block css %}
<link href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="{% static 'plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
{% endblock %} 

{% block content %}
	<div class="d-flex align-items-center mb-3">
		<div>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:;">PAGES</a></li>
				<li class="breadcrumb-item active">PRODUCT DETAILS</li>
			</ol>
			<h1 class="page-header mb-0">Καταχώρηση Διακίνισης</h1>
		</div>
	</div>
	
	<div class="row gx-4">
		<div class="col-lg-8">
			<div class="card mb-4">
				<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
					Πληροφορίες Διακίνισης
				</div>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.non_field_errors }}

				<div class="card-body">
					<!-- Products Section -->
            <!-- Products Section -->
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label class="form-label">Προϊόντα <span class="text-danger">*</span></label>
                        <div id="product-fields">
                            <!-- Initial product selection field -->
                            <select name="products" class="form-select mb-2">
                                <option value="">-- Επιλέξτε Προϊόν --</option>
                                {% for product in products %}
                                    <option value="{{ product.id }}">{{ product.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="button" class="btn btn-outline-secondary btn-sm" id="add-product">Επιπλέον Προιόν</button>
                    </div>
                </div>
					<!-- Warehouse Section -->
					<div class="col-md-4">
						<div class="mb-3">
							<label class="form-label">Αποθήκη <span class="text-danger">*</span></label>
							<select name="warehouse" class="form-select">
								<option value="">-- Επιλέξτε Αποθήκη --</option>
								{% for warehouse in warehouses %}
									<option value="{{ warehouse.id }}">{{ warehouse.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<!-- Quantity Section -->
					<div class="col-md-4">
						<div class="mb-3">
        <label class="form-label">Ποσότητα <span class="text-danger">*</span></label>
        <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Ποσότητα">
		        <input type="hidden" name="product_name" id="product_name">

						</div>
					</div>
				</div>

					<div class="mb-3">
						<label class="form-label">Τύπος Αποστολής <span class="text-danger">*</span></label>
						<select name="shipment_type" class="form-select">
							<option value="">-- Επιλέξτε Τύπο Αποστολής --</option>
							{% for choice in form.fields.shipment_type.choices %}
								<option value="{{ choice.0 }}">{{ choice.1 }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label">Παραλήπτης <span class="text-danger">*</span></label>
						<select name="recipient" class="form-select">
							<option value="">-- Επιλέξτε Παραλήπτη --</option>
							{% for recipient in recipients %}
								<option value="{{ recipient.id }}">{{ recipient.name }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="mb-3">
						<label class="form-label">Ημερομηνία <span class="text-danger">*</span></label>
						<div class="input-group">
	
							<input type="text" class="form-control" id="datepicker" placeholder="dd/mm/yyyy">

						</div>
					</div>


					<div class="">
						{{ form.notes.errors }}
						<label class="form-label">Σχόλια <span class="text-danger">*</span></label>
						{{ form.notes }} <!-- Render the 'description' field -->
					</div>
				</div>
				{% comment %} <div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div> {% endcomment %}
			</div>
		</div>

	</div>
	<button type="submit" class="btn btn-outline-theme btn-lg">Καταχώρηση Διακίνησης</button>
</form>

{% endblock %}

{% block outter_content %}

<script>
    // Event listener for the "Add Product" button
    document.getElementById('add-product').addEventListener('click', function() {
        addProductField();
    });

    // Function to update hidden input fields with product name and quantity
    function updateHiddenFields() {
        var productName = document.querySelector('select[name="products[]"]').value;
        var quantity = document.getElementById('quantity').value;

        // Update hidden input fields with the selected product name and quantity
        document.getElementById('product_name').value = productName;
        document.getElementById('quantity').value = quantity;
    }

    // Event listener for product selection and quantity input change
    document.querySelector('select[name="products[]"]').addEventListener('change', updateHiddenFields);
    document.getElementById('quantity').addEventListener('input', updateHiddenFields);

</script>

<!-- script -->
<script>
  $('#datepicker').datepicker({
    autoclose: true
  });
</script>


<script>
	// Function to add product selection field
	function addProductField() {
		var productField = document.createElement('select');
		productField.setAttribute('name', 'products[]');
		productField.setAttribute('class', 'form-select mb-2');
		productField.innerHTML = '<option value="">-- Επιλέξτε Προϊόν --</option>';
		{% for product in products %}
			productField.innerHTML += '<option value="{{ product.id }}">{{ product.name }}</option>';
		{% endfor %}
		document.getElementById('product-fields').appendChild(productField);
	}

	// Event listener for the "Add Product" button
	document.getElementById('add-product').addEventListener('click', function() {
		addProductField();
	});

</script>
	{% verbatim %}
		<!-- BEGIN template-upload -->
		<script id="template-upload" type="text/x-tmpl">
		{% for (var i=0, file; file=o.files[i]; i++) { %}
			<tr class="template-upload">
				<td>
					<span class="preview d-flex justify-content-center flex-align-center" style="height: 80px"></span>
				</td>
				<td>
					<p class="name mb-1">{%=file.name%}</p>
					<strong class="error text-danger"></strong>
				</td>
				<td>
					<p class="size mb-2">Processing...</p>
					<div class="progress progress-sm mb-0 h-10px progress-striped active"><div class="progress-bar bg-theme" style="min-width: 2em; width:0%;"></div></div>
				</td>
				<td nowrap>
					{% if (!i && !o.options.autoUpload) { %}
						<button class="btn btn-outline-theme btn-sm d-block w-100 start" disabled>
							<span>Start</span>
						</button>
					{% } %}
					{% if (!i) { %}
						<button class="btn btn-outline-default btn-sm d-block w-100 cancel mt-2">
							<span>Cancel</span>
						</button>
					{% } %}
				</td>
			</tr>
		{% } %}
		</script>
		<!-- END template-upload -->
	
		<!-- BEGIN template-download -->
		<script id="template-download" type="text/x-tmpl">
		{% for (var i=0, file; file=o.files[i]; i++) { %}
			<tr class="template-download">
				<td>
					<span class="preview d-flex justify-content-center flex-align-center" style="height: 80px">
						{% if (file.thumbnailUrl) { %}
							<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
						{% } %}
					</span>
				</td>
				<td>
					<p class="name">
						{% if (file.url) { %}
							<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
						{% } else { %}
							<span>{%=file.name%}</span>
						{% } %}
					</p>
					{% if (file.error) { %}
						<div><span class="label label-danger">Error</span> {%=file.error%}</div>
					{% } %}
				</td>
				<td>
					<span class="size">{%=o.formatFileSize(file.size)%}</span>
				</td>
				<td nowrap>
					{% if (file.deleteUrl) { %}
						<button class="btn btn-outline-danger btn-sm btn-block delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
							<span>Delete</span>
						</button>
						<div class="form-check mt-2">
							<input type="checkbox" id="{%=file.deleteUrl%}" name="delete" value="1" class="form-check-input toggle">
							<label for="{%=file.deleteUrl%}" class="form-check-label"></label>
						</div>
					{% } else { %}
						<button class="btn btn-outline-default btn-sm d-block w-100 cancel">
							<span>Cancel</span>
						</button>
					{% } %}
				</td>
			</tr>
		{% } %}
		</script>
		<!-- END template-download -->
	{% endverbatim %}
{% endblock %} 