{% extends 'base.html' %}

{% load static %}

{% block title %}Product Details{% endblock %}

{% block css %}
	<link href="{% static 'plugins/summernote/dist/summernote-lite.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/blueimp-file-upload/css/jquery.fileupload.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/tag-it/css/jquery.tagit.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
	<script src="{% static 'plugins/summernote/dist/summernote-lite.min.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
	<script src="{% static 'plugins/blueimp-tmpl/js/tmpl.min.js' %}"></script>
	<script src="{% static 'plugins/blueimp-load-image/js/load-image.all.min.js' %}"></script>
	<script src="{% static 'plugins/blueimp-canvas-to-blob/js/canvas-to-blob.min.js' %}"></script>
	<script src="{% static 'plugins/blueimp-gallery/js/jquery.blueimp-gallery.min.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.iframe-transport.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload-process.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload-image.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload-audio.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload-video.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload-validate.js' %}"></script>
	<script src="{% static 'plugins/blueimp-file-upload/js/jquery.fileupload-ui.js' %}"></script>
	<script src="{% static 'plugins/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
	<script src="{% static 'plugins/tag-it/js/tag-it.min.js' %}"></script>
	<script src="{% static 'js/demo/page-product-details.demo.js' %}"></script>
{% endblock %} 

{% block content %}
	<div class="d-flex align-items-center mb-3">
		<div>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:;">PAGES</a></li>
				<li class="breadcrumb-item active">PRODUCT DETAILS</li>
			</ol>
			<h1 class="page-header mb-0">Προσθήκη Προιόντος</h1>
		</div>
	</div>
	
	<div class="row gx-4">
		<div class="col-lg-8">
			<div class="card mb-4">
				<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
					Πληροφορίες Προιόντος
				</div>


			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				        {{ form.non_field_errors }}

				<div class="card-body">
					<div class="mb-3">
						{{ form.name.errors }}
						<label class="form-label">Τίτλος <span class="text-danger">*</span></label>
						{{ form.name }} 
					</div>
					<div class="mb-3">
						{{ form.batch_number.errors }}
						<label class="form-label">Αριθμός Μερίδας <span class="text-danger">*</span></label>
						{{ form.batch_number }} 
					</div>    

					<div class="">
						{{ form.description.errors }}
						<label class="form-label">Περιγραφή <span class="text-danger">*</span></label>
						{{ form.description }} <!-- Render the 'description' field -->
					</div>
				</div>
				{% comment %} <div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div> {% endcomment %}
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card mb-4">
				<div class="card-header d-flex align-items-center fw-400 bg-inverse bg-opacity-10">
					<div class="flex-1">
						<div>Στοιχεία Προιόντος</div>
					</div>
				</div>
				<div class="card-body">
					<div class="mb-3">
						<label class="form-label">Μονάδα Μέτρησης</label>
							<div class="mb-lg-0 mb-3">
								<select class="form-select" name="warranty_type_id">
									<option value="">-- Μονάδα Μέτρησης --</option>
									<option value="1">ΤΕΜΑΧΙΑ</option>
									<option value="2">ΜΕΤΡΑ</option>
								</select>
							</div>
					</div> 
					<div class="mb-3">
						<label class="form-label">Κατηγορία Προιόντος</label>
							<div class="mb-lg-0 mb-3">
								<select class="form-select" name="warranty_type_id">
									<option value="">-- Επιλογή Κατηγορίας --</option>

									{% for value, display_name in product_category_choices %}
                					<option value="{{ value }}">{{ display_name }}</option>
            						{% endfor %}
									{% comment %} <option value="">-- Επιλογή Κατηγορίας --</option>
									<option value="1">No Warranty</option>
									<option value="2">Local Supplier Warranty</option>
									<option value="3">Local Manufacturer Warranty</option>
									<option value="4">International Manufacturer Warranty</option> {% endcomment %}
								</select>
							</div>
					</div>
					<div class="mb-0">
						<label class="form-label">Χρήση Προιόντος</label>
							<div class="mb-lg-0 mb-3">
								<select class="form-select" name="warranty_type_id">
									<option value="">-- Επιλογή Χρήσης --</option>
										{% for value, display_name in product_usage_choices %}
											<option value="{{ value }}">{{ display_name }}</option>
										{% endfor %}
								</select>
							</div>
					</div>
				</div>
				<div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div>
			</div>
						<div class="card mb-4">
				<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
					Φωτογραφία
				</div>
                <input type="file" id="image" name="image" class="form-control">

				<div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-outline-theme btn-lg">Δημιουργία Προιόντος</button>
</form>

{% endblock %}

{% block outter_content %}
	{% verbatim %}
		<!-- BEGIN template-upload -->
		{% comment %} <script id="template-upload" type="text/x-tmpl">
		{% for (var i=0, file; file=o.files[i]; i++) { %}
			<tr class="template-upload">
				<td>
					<span class="preview d-flex justify-content-center flex-align-center" style="height: 80px"></span>
				</td>
				<td>
					<p class="name mb-1">{%=file.name%}</p>
					<strong class="error text-danger"></strong>
				</td>
				<td>
					<p class="size mb-2">Processing...</p>
					<div class="progress progress-sm mb-0 h-10px progress-striped active"><div class="progress-bar bg-theme" style="min-width: 2em; width:0%;"></div></div>
				</td>
				<td nowrap>
					{% if (!i && !o.options.autoUpload) { %}
						<button class="btn btn-outline-theme btn-sm d-block w-100 start" disabled>
							<span>Start</span>
						</button>
					{% } %}
					{% if (!i) { %}
						<button class="btn btn-outline-default btn-sm d-block w-100 cancel mt-2">
							<span>Cancel</span>
						</button>
					{% } %}
				</td>
			</tr>
		{% } %}
		</script> {% endcomment %}
		<!-- END template-upload -->
	
		<!-- BEGIN template-download -->
		{% comment %} <script id="template-download" type="text/x-tmpl">
		{% for (var i=0, file; file=o.files[i]; i++) { %}
			<tr class="template-download">
				<td>
					<span class="preview d-flex justify-content-center flex-align-center" style="height: 80px">
						{% if (file.thumbnailUrl) { %}
							<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
						{% } %}
					</span>
				</td>
				<td>
					<p class="name">
						{% if (file.url) { %}
							<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
						{% } else { %}
							<span>{%=file.name%}</span>
						{% } %}
					</p>
					{% if (file.error) { %}
						<div><span class="label label-danger">Error</span> {%=file.error%}</div>
					{% } %}
				</td>
				<td>
					<span class="size">{%=o.formatFileSize(file.size)%}</span>
				</td>
				<td nowrap>
					{% if (file.deleteUrl) { %}
						<button class="btn btn-outline-danger btn-sm btn-block delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
							<span>Delete</span>
						</button>
						<div class="form-check mt-2">
							<input type="checkbox" id="{%=file.deleteUrl%}" name="delete" value="1" class="form-check-input toggle">
							<label for="{%=file.deleteUrl%}" class="form-check-label"></label>
						</div>
					{% } else { %}
						<button class="btn btn-outline-default btn-sm d-block w-100 cancel">
							<span>Cancel</span>
						</button>
					{% } %}
				</td>
			</tr>
		{% } %}
		</script> {% endcomment %}
		<!-- END template-download -->
	{% endverbatim %}
{% endblock %} 