{% extends 'base.html' %}

{% load static %}

{% block title %}Καταχώρηση Διακίνησης{% endblock %}

{% block css %}
<link href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="{% static 'plugins/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script>
$(document).ready(function() {
    $('#add-more-items').click(function() {
        var totalForms = $('#id_' + '{{ formset.prefix }}-TOTAL_FORMS');
        var currentFormCount = parseInt(totalForms.val());
        var formsetContainer = $("#shipment-items-container");

        // Clone the last form in the formset
        var lastForm = $(".shipment-item-form:last").clone(true);

        // Update the form number in the form's input names and IDs
        lastForm.find(':input').each(function() {
            var name = $(this).attr('name');
            var id = $(this).attr('id');

            // Increment form index in the name and id for the cloned form inputs and labels
            name = name.replace(/-\d+-/, '-' + currentFormCount + '-');
            id = id.replace(/-\d+-/, '-' + currentFormCount + '-');

            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });

        // Update labels for new inputs
        lastForm.find('label').each(function() {
            var newFor = $(this).attr('for').replace(/-\d+-/, '-' + currentFormCount + '-');
            $(this).attr('for', newFor);
        });

        // Increment the TOTAL_FORMS count
        totalForms.val(currentFormCount + 1);

        // Append the cloned form to the container
        lastForm.appendTo(formsetContainer);
    });
});
</script>
{% endblock %}

{% block content %}
<div class="d-flex align-items-center mb-3">
    <div>
        <h1 class="page-header mb-0">Καταχώρηση Διακίνισης</h1>
    </div>
</div>
<div class="row gx-4">
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
                Πληροφορίες Διακίνισης
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="card-body">
                    {{ form.as_p }}
                    <!-- Shipment Item Section -->
                    <div class="card mb-4">
                        <div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
                            Προϊόντα
                        </div>
                        <div class="card-body" id="shipment-items-container">
                            {{ formset.management_form }}
                            {% for form in formset %}
                                <div class="shipment-item-form">
                                    <div class="row">
                                        <!-- Product Field -->
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                {{ form.product.label_tag }}
                                                {{ form.product }}
                                                {{ form.product.errors }}
                                            </div>
                                        </div>
                                        <!-- Warehouse Field -->
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                {{ form.warehouse.label_tag }}
                                                {{ form.warehouse }}
                                                {{ form.warehouse.errors }}
                                            </div>
                                        </div>
                                        <!-- Quantity Field -->
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                {{ form.quantity.label_tag }}
                                                {{ form.quantity }}
                                                {{ form.quantity.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="button" id="add-more-items" class="btn btn-info">Προσθήκη προιόντων</button>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-theme btn-lg">Καταχώρηση Διακίνησης</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
