<!-- page-data-management.html -->

{% extends 'base.html' %}

{% load static %}

{% block title %}Αποθέματα{% endblock %}

{% block css %}
    <link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script src="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/demo/page-data-management.demo.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center mb-3">
        <div>
            <h1 class="page-header mb-0">Διαχείριση Αποθέματος</h1>
        </div>
        <div class="ms-auto">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file" class="form-control mb-2" accept=".csv, .xlsx">
                <button type="submit" class="btn btn-outline-theme"><i class="fa fa-upload fa-fw me-1"></i> Ανέβασμα Αρχείου</button>
            </form>
        </div>
    </div>
    <div class="data-management d-none" data-id="table">
        <table class="table table-bordered table-xs w-100 fw-semibold text-nowrap mb-3" id="datatable">
            <thead>
                <tr>
                    <th class="no-sort"></th>
                    <th>Μερίδα</th>
                    <th>Κατηγορία</th>
                    <th>Προιόν</th>
                    <th>Χρήση</th>
                    <th>Συνολικό Απόθεμα</th>
                    {% if can_view_tagma %}<th>Απ. ΤΑΓΜΑ</th>{% endif %}
                    {% if can_view_kepik %}<th>Απ. ΚΕΠΙΚ</th>{% endif %}
                    {% if can_view_doriforika %}<th>Απ. ΔΟΡΥΦΟΡΙΚΑ</th>{% endif %}
                </tr>
            </thead>
            <tbody class="text-body">
                {% for product in products_with_stock %}
                <tr>
                    <td><a href="#" data-bs-toggle="modal" data-bs-target="#modalDetail"><i class="fa fa-search fa-fw"></i></a></td>
                    <td>{{ product.batch_number }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.usage }}</td>
                    <td>
                        {% if product.total_stock == 0 or product.total_stock is None %}
                            0 <a href="#" class="text-warning" data-bs-toggle="tooltip" data-bs-title="Out of Stock"><i class="bi-exclamation-circle-fill"></i></a>
                        {% else %}
                            {{ product.total_stock }}
                        {% endif %}
                    </td>                    
                    {% if can_view_tagma %}<td>{{ product.stock_tagma }}</td>{% endif %}
                    {% if can_view_kepik %}<td>{{ product.stock_kepik }}</td>{% endif %}
                    {% if can_view_doriforika %}<td>{{ product.stock_doriforika }}</td>{% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    {% if can_view_tagma %}<th>309 sold</th>{% endif %}
                    {% if can_view_kepik %}<th>241 sold</th>{% endif %}
                    {% if can_view_doriforika %}<th>457 sold</th>{% endif %}
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block outter_content %}
    <!-- BEGIN #modalDetail -->
    <div class="modal fade" id="modalDetail">
        <div class="modal-dialog" style="max-width: 600px">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h5 class="modal-title fs-16px">Product Information</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row gx-4 align-items-center">
                        <div class="col-sm-5 mb-3 mb-sm-0">
                            <div class="card">
                                <div class="card-body p-2">
                                    <img src="{% static 'img/product/product-16.jpg' %}" class="mw-100 d-block" alt="">
                                </div>
                                <div class="card-arrow">
                                    <div class="card-arrow-top-left"></div>
                                    <div class="card-arrow-top-right"></div>
                                    <div class="card-arrow-bottom-left"></div>
                                    <div class="card-arrow-bottom-right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7 py-1 fs-13px">
                            <div class="row mb-10px">
                                <div class="col-4 fw-bold">Model:</div>
                                <div class="col-8 text-white">iPhone 14 Pro Max</div>
                            </div>
                            <div class="row mb-10px">
                                <div class="col-4 fw-bold">Colour:</div>
                                <div class="col-8 text-white">Space Black</div>
                            </div>
                            <div class="row mb-10px">
                                <div class="col-4 fw-bold">Storage:</div>
                                <div class="col-8 text-white">256gb</div>
                            </div>
                            <div class="row mb-10px">
                                <div class="col-4 fw-bold">Size:</div>
                                <div class="col-8 text-white">147 x 72 x 7.8mm</div>
                            </div>
                            <div class="row mb-10px">
                                <div class="col-4 fw-bold">Category:</div>
                                <div class="col-8 text-white"><span class="badge bg-theme text-theme-color py-1 fs-10px my-n1 fw-bold">PHONE</span></div>
                            </div>
                            <div class="row mb-10px">
                                <div class="col-4 fw-bold">Price:</div>
                                <div class="col-8 text-white">$1,999</div>
                            </div>
                            <div class="row mb-10px">
                                <div class="col-4 fw-bold">Cost:</div>
                                <div class="col-8 text-white">$1,899</div>
                            </div>
                            <div class="row mb-10px">
                                <div class="col-4 fw-bold">Profit:</div>
                                <div class="col-8 text-success">$200</div>
                            </div>
                            <div class="row">
                                <div class="col-4 fw-bold">Stock:</div>
                                <div class="col-8 text-white"><input type="text" class="form-control form-control-sm w-100px" value="20"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-bs-dismiss="modal" class="btn btn-outline-default w-100px">Cancel</a>
                    <button type="submit" class="btn btn-outline-theme">Save & Publish</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END #modalDetail -->
{% endblock %}
