{% extends 'base.html' %}

{% load static %}

{% block title %}Order Details{% endblock %}

{% block content %}
	<div class="d-flex align-items-center mb-3">
		<div>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:;">PAGES</a></li>
				<li class="breadcrumb-item active">ORDER DETAILS</li>
			</ol>
			<h1 class="page-header mb-0"> Πληροφορίες / Επεξεργασία Διακίνησης</h1>
		</div>
	</div>
	
	<div class="mb-3 d-md-flex fw-bold">
		<div class="mt-md-0 mt-2"><a href="#" class="text-decoration-none text-inverse"><i class="bi bi-printer fa-fw me-1 text-inverse text-opacity-50"></i> Εκτύπωση</a></div>
		<div class="ms-md-4 mt-md-0 mt-2"><a href="#" class="text-decoration-none text-inverse"><i class="bi bi-pen fa-fw me-1 text-inverse text-opacity-50"></i> Επεξεργασία Διακίνησης</a></div>
		<div class="ms-md-4 mt-md-0 mt-2 dropdown-toggle">
			<a href="#" data-bs-toggle="dropdown" class="text-decoration-none text-inverse"><i class="bi bi-gear fa-fw me-1 text-inverse text-opacity-50"></i> More Actions</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div role="separator" class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a>
			</div>
		</div>
	</div>
	<div class="row gx-4">
		<div class="col-lg-8">

			<div class="card mb-4">
				<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
        		Products ({{ shipment_items.count }})
					<a href="#" class="ms-auto text-decoration-none text-inverse text-opacity-50"><i class="bi bi-truck fa-lg me-1"></i> Add Tracking Link</a>
				</div>
				<div class="card-body text-inverse">
					{% for item in shipment_items %}
					<div class="row align-items-center">
						<div class="col-lg-8 d-flex align-items-center">
							<div class="h-65px w-65px d-flex align-items-center justify-content-center position-relative bg-white p-1">
							{% if item.product.image %}
								<!-- Use the `url` attribute of the ImageField to get the image URL -->
								<img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="mw-100 mh-100">
							{% else %}
								<!-- Fallback image if the product does not have an image -->
								<img src="{% static 'img/product/default-product.jpg' %}" alt="Default Product Image" class="mw-100 mh-100">
							{% endif %}								
							<span class="w-20px h-20px p-0 d-flex align-items-center justify-content-center badge bg-theme text-theme-color position-absolute end-0 top-0 fw-bold fs-12px rounded-pill mt-n2 me-n2">{{item.quantity}}</span>
							</div>
							<div class="ps-3 flex-1">
								<div><a href="#" class="text-decoration-none text-inverse">{{ item.product.name }}</a></div>
								<div class="text-inverse text-opacity-50 small">
									Σειριακός Αριθμός: {{item.product.serial_number}}
								</div>
							</div>
						</div>
						<div class="col-lg-2 m-0 ps-lg-3">
							Αποθήκη: {{item.warehouse}}
						</div>
						<div class="col-lg-2 m-0 text-end">
							$999
						</div>
					</div>
					<hr class="my-4">
					{% endfor %}
				</div>
				<div class="card-footer bg-none d-flex p-3">
					<a href="#" class="btn btn-outline-default ms-auto dropdown-toggle">More</a>
					<a href="#" class="btn btn-outline-theme ms-2">Add Tracking</a>
				</div>
				<div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div>
			</div>
			<div class="card">
				<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
					Σχόλια Διακίνησης
				</div>
				<div class="card-body">
					{{shipment.notes}}
				</div>

				<div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card mb-4">
				<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
					Πληροφορίες Διακίνησης
					<a href="#" class="ms-auto text-decoration-none text-inverse text-opacity-50">Edit</a>
				</div>
				<div class="card-body">
					<table class="table table-borderless table-sm m-0">
						<tbody>
							<tr>
								<td class="w-150px">Ημερομηνία</td>
								<td class="text-end pb-2 text-decoration-underline">{{shipment.date}}ems</td>
							</tr>
								<td colspan="3">
								<hr class="m-0">
								</td>
							</tr>
							<tr>
								<td>Τύπος Διακίνησης</td>
								<td> <u class="text-success fw-bold small">{{shipment.shipment_type}}</u> <small></small></td>
							</tr>
							</tr>
								<td colspan="3">
								<hr class="m-0">
							</td>
							</tr>
							<tr>
								<td class="pb-2" colspan="2"><b>Δημιουργός</b></td>
								<td class="text-end pb-2"> <a href="#" class="text-decoration-none">{{shipment.user}}</a></td>								
							</td>
							</tr>
							<tr>
								<td colspan="3">
									<hr class="m-0">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div>
			</div>
			<div class="card mb-4">
				<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
					Παραλήπτης
					<a href="#" class="ms-auto text-decoration-none text-inverse text-opacity-50">Edit</a>
				</div>
				<div class="card-body fw-bold">
					<div class="d-flex align-items-center">
						{% comment %} <a href="#" class="d-block"><img src="{% static 'img/user/user-1.jpg' %}" alt="" width="45" class="rounded-pill"></a> {% endcomment %}
						<div class="flex-1 ps-3">
							<a href="#" class="d-block text-decoration-none">{{shipment.recipient}}</a>
						</div>
					</div>
				</div>
				<div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div>
			</div>
			<div class="card mb-4">
				<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
					Shipping Information
					<a href="#" class="ms-auto text-decoration-none text-inverse text-opacity-50">Edit</a>
				</div>
				<div class="card-body fw-bold">
					<i class="bi bi-telephone-fill fa-fw"></i> +916-663-4289<br><br>
					867 Highland View Drive<br>
					Newcastle, CA<br>
					California<br>
					95658<br>
					<br>
					<a href="#" class="text-decoration-none"><i class="bi bi-geo-alt-fill fa-fw"></i> View map</a>
				</div>
				<div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}