<!-- BEGIN #header -->
<div id="header" class="app-header">
  {% if appSidebarHide is None %}
  <!-- END mobile-toggler -->
  {% endif %} {% if appTopNav is not None and appSidebarHide %} {% endif %}
  <!-- BEGIN brand -->
  <div class="brand">
    <a href="/dashboard" class="brand-logo">
      <span class="brand-img">
        <span class="brand-img-text text-theme"></span>
      </span>
      <span class="brand-text">ΡΙΧΤΕΡ</span>
    </a>
  </div>
  <!-- END brand -->
  <!-- BEGIN menu -->
  <div class="menu">
    <div class="menu-item dropdown dropdown-mobile-full">
      <a
        href="#"
        data-bs-toggle="dropdown"
        data-bs-display="static"
        class="menu-link"
      >
        <div class="menu-img online">
          {% load static %}
          <img
            src="{% static '/img/user/profile.jpg' %}"
            alt="Profile"
            height="60"
          />
        </div>
        <div class="menu-text d-sm-block d-none w-170px">
          username@account.com
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1">
        <a class="dropdown-item d-flex align-items-center" href="/page/login"
          >LOGOUT
          <i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i
        ></a>
      </div>
    </div>
  </div>
  <!-- END menu -->
</div>
